.connection-container {
  background-color: #f5f5f5;
  padding: 20px;
  width: max-content;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid white;
}

.technologies-container {
  background-color: #f5f5f5;
  padding: 20px;
  height: max-content;
  /* width: max-content; */
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
